<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guide</title>
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="gridcontainer">
        <aside class="aside">
            <div class="sidebar-box">
                <li><a href="/">Logo</a>
    <% if (!user) { %>
        <a href="/login">Logg inn</a>
        <a href="/signinn">Registrer deg</a></li>
    <% } else { %>
        <a href="/dashboard">Dashboard</a></li>
       <li> <a href="/newguide">Ny Guide</a>
        <a href="/logout">Logg ut</a></li>
    <% } %>
                <ul>
                    <% guide.sections.forEach(section => { %>
                        <li><a class="section-link" href="#<%= section.overskrift %>"><%= section.overskrift %></a></li>
                    <% }) %>
                </ul>
            </div>
        </aside>

        <main class="maincontainer">
            <h1>Guide</h1>
            <section>
                <h2 id="<%= guide.tag %>"><%= guide.title %></h2>
                <% guide.sections.forEach(section => { %>
                    <h3><%= section.overskrift %></h3>
                    <p><%= section.beskrivelse %></p>
                    <% if (section.bilde) { %>
                        <img src="/<%= section.bilde %>" alt="<%= section.overskrift %>" />
                    <% } %>
                <% }) %>
            </section>
        </main>
    </div>
</body>
</html>
